* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-image: url(./images/bg3.jpeg);
    font-family: sans-serif;
}
/*Header of the web*/
.header{
    background-color: rgb(24, 39, 107);
    height: 400px;
    display: block;
}
/* header navigation */
.header-nav{
    display: flex;
}
.logo{
    border-radius: 25px;
    padding: 5px;
    margin:10px;
}
.logo:hover{
	opacity: 1;
}
.nav{
    background-color: rgb(24, 39, 107);
    color: white;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.nav-item{
    font-weight: 900;
    height: 50px;
    padding: 5px;
    margin:10px;
}
.nav-item:hover{
    color: blue;
    border: 1px solid #d0d0d0;
}
/* Header body style*/
.header-body{
    display: flex;
}

.desc{
    margin-top: 100px;
    margin-left: 50px;
}

.image-placeholder{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 250px;
}
img{
    border-radius: 25px;
}
img:hover{
    opacity: 1;

}
button{
    margin: 20px;
    font-size: 20px;
}
button:hover{
    background-color: blue;
    color: whitesmoke;
}
#title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* main part of the web*/
.upper-body-content{
    background-color:aliceblue;
    height: 300px;
}

.upper-body-text{
    align-items: center;
    justify-content: center;
    margin:10px;
    padding: 10px;
}

.upper-body-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertise{
    background-color: rgb(121, 102, 141);
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px;
}

.center-body{
    background-color: rgb(211, 209, 206);
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    display: block;
}

.center-body-content{
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    display: block;    
}

.lower-body-content{
    background-image: url(./images/advertise.jpg);
    height: 300px;
    margin: 20px;
    padding: 10px;
}

/*footer styling*/
.footer{
    background-image: url(./images/bg2.jpeg);
    height: 70px;
    margin: 0;
    padding:0;
    display: flex;
  }
  #copyright{
    color: aliceblue;
    margin: 20px;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
  }
  ul {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }